
<h2>ABOUT ME</h2>
<p>I'm an iOS Developer currently working at <a href="http://www.agencymobile.co.uk">Agency Mobile</a> in London. I'm simply passionate about writing beautiful code for successful apps.</p>
<p>Check out my game <a href="https://itunes.apple.com/gb/app/spores/id718495353?mt=8">Spores</a> available on the App Store.</p>
<p>Contact me at <a href="mailto://brocoo@gmail.com">brocoo@gmail.com</a></p>
<hr/>

<div class="btn-group">
  <a class="btn btn-default" href="https://github.com/brocoo"><span class="fa fa-github fa-2x"></span></a>
  <a class="btn btn-default" href="http://stackoverflow.com/users/1571197/broco?tab=profile"><span class="fa fa-stack-overflow fa-2x"></span></a>
  <a class="btn btn-default" href="https://www.linkedin.com/profile/view?id=102960754&trk=nav_responsive_tab_profile_pic"><span class="fa fa-linkedin fa-2x"></span></a>
  <a class="btn btn-default" href="https://twitter.com/jbrocoo"><span class="fa fa-twitter fa-2x"></span></a>
  <a class="btn btn-default" href="https://www.facebook.com/Brocoo"><span class="fa fa-facebook fa-2x"></span></a>
  <a class="btn btn-default" href="https://instagram.com/brocoo/"><span class="fa fa-instagram fa-2x"></span></a>
</div>
